@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Crimson Text";
}

body{
    background-color: rgb(240, 240, 240);
}


.swiper-button-prev,
.swiper-button-next {
    color: #ffffff;
}

.swiper-button-prev {
    left: 20px; 
}

.swiper-button-next {
    right: 20px; 
}
.swiper-pagination{
    margin-bottom: 20px;
}


.swiper-pagination-bullet {
    background-color: #cccccc; 
    opacity: 1; 
}

.swiper-pagination-bullet-active {
    background-color: #630101; 
}


